@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
@font-face {
    font-family: 'Histora Beralin';
    src: url('../fonts/Histora\ Beralin.otf') format('otf');
}

$color-primary: #f2c46e;
$bg-01: #131313;
$font-01: 'M PLUS Rounded 1c', Verdana, Geneva, Tahoma, sans-serif;

header {
    display: flex;
    align-items: center;
    position: sticky;
    width: 100%;
    padding: 1.6rem 6%;

    #nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        font-family: $font-01;

        #navbar {
            
            ul {
                display: flex;
                gap: 12px;
            }
        }

        #logo {
            display: flex;
            align-items: center;
            gap: 4px;

            img {
                height: 30px;
            }

            span {
                font-size: 1em;
            }
        }
    }
}

main {
    display: flex;
    flex-direction: column;

    #s1 {
        display: flex;
        flex-direction: column;

        #s1-top {
            display: flex;
            flex: 1;

            > div {
                display: flex;
                width: 50%;
                height: 100%;
            }

            #s1-texts {
                flex-direction: column;
                justify-content: start;
                padding: 75px 0px 0px 100px;
                gap: 24px;

                h2 {
                    font-size: 2.4em;
                    line-height: 1.4;
                    letter-spacing: 6px;
                }

                p {
                    font-size: 0.8em;
                }
            }

            #s1-img-container {
                align-items: center;
                justify-content: center;

                div {
                    width: 340px;
                    height: 340px;
                    margin-bottom: 75px;
                    background-image: url("../img/coffee01.jpg");
                    background-size: cover;
                    background-position: center;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
                    border-radius: 40px;
                }
            }
        }

        #s1-botton {
            background-color: $bg-01;
            height: 150px;
        }

        #s1-card {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #242424;
            border: 5px solid white;
            border-radius: 25px;
            box-shadow: none;
            padding: 6px 12px;
            gap: 48px;
            width: 550px;
            height: 125px;
            bottom: 15px;
            left: 50%;
            transform: translateX(-50%);

            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                color: white;
                gap: 12px;

                object {
                    width: 50px;
                }

                p {
                    font-size: 0.8em;
                }
            }
        }
    }

    #s2 {
        background-color: $bg-01;
    }
}

@media screen and (max-width: 768px) {
    #order-button {
        display: none;
    }

    #navbar {
        display: none;
        position: absolute;
        justify-items: center;
        text-align: center;
        font-size: 1.4em;
        top: 80px;
        left: 0;
        width: 100%;

        ul {
            width: 100%;
            flex-direction: column;
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 1279px) {

}

@media screen and (min-width: 1280px) {
    .burger {
        display: none !important;
    }

    #navbar {
        display: flex;
    }
}